
.btn {
    background-color: rgba(100, 100, 100, 0.3);
    padding: 2vh;
    border: 2px solid #b85656;
    border-radius: 10px;
    
}
.gone{
    background-color:  red;
    border: 15px solid green;
    padding: 34px;
    margin: 20px;
    box-sizing: border-box;
}

.gon{
    background-color:  yellow;
    border: 15px solid black;
    padding: 20px;
    margin:  20px;
}

.flex-container{
    display: flex;
    justify-content: flex;
}

.flex-container {
    background: peachpuff;
    border: 42px solid brown;
    height: 1px;
    
}
.two{
    flex:1;
}
